{% extends 'base/index.html' %}
{% block page %}
{% if not user %}
  {% include 'forms/account.html' %}
{% else %}
  <div class="row">
    <div class="col-md-6">
    {% include 'user/common/menu.twig' %}
    </div>
  </div>
{% endif %}


{% endblock %}