@use '../inc/colors';

.btn {
  border: 1px solid colors.$maincolor;
  padding: 3px;
  text-decoration: none;
  font-weight: bold;
  text-transform: UPPERCASE;
  font-family: 'VCROSDMono', monospace;
  font-size: 150%;
  color: colors.$maincolor;
}

.btn:disabled,
.btn.disabled {
  pointer-events: none;
  opacity: .65;
  cursor: not-allowed;
}

.btn:hover {
  background: colors.$maincolor;
  color: colors.$black;
}

.btn.block {
  display: block;
  text-align: center;
}

.btn-navy    {color: colors.$white; background: colors.$navy;     }
.btn-blue    {color: colors.$white; background: colors.$blue;     }
.btn-aqua    {color: colors.$black; background: colors.$aqua;     }
.btn-teal    {color: colors.$white; background: colors.$teal;     }
.btn-olive   {color: colors.$white; background: colors.$olive;    }
.btn-green   {color: colors.$black; background: colors.$green;    }
.btn-lime    {color: colors.$black; background: colors.$lime;     }
.btn-yellow  {color: colors.$black; background: colors.$yellow;   }
.btn-orange  {color: colors.$white; background: colors.$orange;   }
.btn-red     {color: colors.$white; background: colors.$red;      }
.btn-maroon  {color: colors.$white; background: colors.$maroon;   }
.btn-fuchsia {color: colors.$white; background: colors.$fuchsia;  }
.btn-purple  {color: colors.$white; background: colors.$purple;   }
.btn-white   {color: colors.$black; background: colors.$white;    }
.btn-silver  {color: colors.$white; background: colors.$silver;   }
.btn-gray    {color: colors.$white; background: colors.$gray;     }
.btn-black   {color: colors.$white; background: colors.$black;    }
.btn-main    {color: colors.$black; background: colors.$maincolor;}

.btn-navy    {color: colors.$white; background: colors.$navy;     }
.btn-blue    {color: colors.$white; background: colors.$blue;     }
.btn-aqua    {color: colors.$black; background: colors.$aqua;     }
.btn-teal    {color: colors.$white; background: colors.$teal;     }
.btn-olive   {color: colors.$white; background: colors.$olive;    }
.btn-green   {color: colors.$black; background: colors.$green;    }
.btn-lime    {color: colors.$black; background: colors.$lime;     }
.btn-yellow  {color: colors.$black; background: colors.$yellow;   }
.btn-orange  {color: colors.$white; background: colors.$orange;   }
.btn-red     {color: colors.$white; background: colors.$red;      }
.btn-maroon  {color: colors.$white; background: colors.$maroon;   }
.btn-fuchsia {color: colors.$white; background: colors.$fuchsia;  }
.btn-purple  {color: colors.$white; background: colors.$purple;   }
.btn-white   {color: colors.$black; background: colors.$white;    }
.btn-silver  {color: colors.$white; background: colors.$silver;   }
.btn-gray    {color: colors.$white; background: colors.$gray;     }
.btn-black   {color: colors.$white; background: colors.$black;    }
.btn-main    {color: colors.$black; background: colors.$maincolor;}