@use '../inc/colors';
ul.options {
  margin: 0 0 30px 0;
  padding: 0;
  list-style-type: none;
}

ul.options li {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted colors.$maincolor;
  height: 23px;
}
ul.options li * {
  border-bottom: 1px solid colors.$black;
  margin-bottom: -1px;
  line-height: 32px;
}

ul.options li > :first-child {
  padding-right: 5px;
}

ul.options li > :last-child {
  padding-left: 5px;
}