<div class="card col-md-6">
  <div class="card-header">Add A New Star</div>
  <div class="card-body">
    <form action="{{url_for('galaxy.newStar')}}" method="POST">
      <div class="mb-3 row">
        <label for="starName" class="col-sm-2 col-form-label">Star Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="starName" name="starName">
        </div>
      </div>
      <div class="row mb-3">
        <label class="col-sm-2 col-form-label">Star Type</label>
        <div class="col-sm-10">
          <select id="inputState" class="form-select">
            <option selected disabled>Choose...</option>
            {% for v, t in starTypes %}
            <option value="{{v}}">{{t}}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      <div class="row g-3 mb-3">
        <div class="col">
          <input type="text" class="form-control" placeholder="X Coordinate" name="x_coord">
        </div>
        <div class="col">
          <input type="text" class="form-control" placeholder="Y Coordinate" name="y_coord">
        </div>
      </div>
      <button type="submit" class="btn btn-success btn-block">Create</button>
    </form>
  </div>
</div>