$maincolor: #B4C7FF;

$navy:    #002B75;
$blue:    #0050D4;
$aqua:    #00D9F7;
$teal:    #00A6A6;
$olive:   #00B562;
$green:   #00D942;
$lime:    #B4D900;
$yellow:  #EBCF00;
$orange:  #EB7700;
$red:     #EB0012;
$maroon:  #790009;
$fuchsia: #FF00C3;
$purple:  #8D00FF;
$white:   #FFFFFF;
$silver:  #777777;
$gray:    #333333;
$pda:     #808000;
$black:   #212121;

.label.navy    {color: $white; background: $navy;     }
.label.blue    {color: $white; background: $blue;     }
.label.aqua    {color: $black; background: $aqua;     }
.label.teal    {color: $white; background: $teal;     }
.label.olive   {color: $white; background: $olive;    }
.label.green   {color: $black; background: $green;    }
.label.lime    {color: $black; background: $lime;     }
.label.yellow  {color: $black; background: $yellow;   }
.label.orange  {color: $white; background: $orange;   }
.label.red     {color: $white; background: $red;      }
.label.maroon  {color: $white; background: $maroon;   }
.label.fuchsia {color: $white; background: $fuchsia;  }
.label.purple  {color: $white; background: $purple;   }
.label.white   {color: $black; background: $white;    }
.label.silver  {color: $white; background: $silver;   }
.label.gray    {color: $white; background: $gray;     }
.label.black   {color: $white; background: $black;    }
.label.main    {color: $black; background: $maincolor;}

.text-navy    {color:$navy;     } .b--navy    {border-color:$navy;     }
.text-blue    {color:$blue;     } .b--blue    {border-color:$blue;     }
.text-aqua    {color:$aqua;     } .b--aqua    {border-color:$aqua;     }
.text-teal    {color:$teal;     } .b--teal    {border-color:$teal;     }
.text-olive   {color:$olive;    } .b--olive   {border-color:$olive;    }
.text-green   {color:$green;    } .b--green   {border-color:$green;    }
.text-lime    {color:$lime;     } .b--lime    {border-color:$lime;     }
.text-yellow  {color:$yellow;   } .b--yellow  {border-color:$yellow;   }
.text-orange  {color:$orange;   } .b--orange  {border-color:$orange;   }
.text-red     {color:$red;      } .b--red     {border-color:$red;      }
.text-maroon  {color:$maroon;   } .b--maroon  {border-color:$maroon;   }
.text-fuchsia {color:$fuchsia;  } .b--fuchsia {border-color:$fuchsia;  }
.text-purple  {color:$purple;   } .b--purple  {border-color:$purple;   }
.text-white   {color:$white;    } .b--white   {border-color:$white;    }
.text-silver  {color:$silver;   } .b--silver  {border-color:$silver;   }
.text-gray    {color:$gray;     } .b--gray    {border-color:$gray;     }
.text-black   {color:$black;    } .b--black   {border-color:$black;    }
.text-main    {color:$maincolor;} .b--main    {border-color:$maincolor;}

.bg-navy    {background-color:$navy;   }
.bg-blue    {background-color:$blue;   }
.bg-aqua    {background-color:$aqua;   }
.bg-teal    {background-color:$teal;   }
.bg-olive   {background-color:$olive;  }
.bg-green   {background-color:$green;  }
.bg-lime    {background-color:$lime;   }
.bg-yellow  {background-color:$yellow; }
.bg-orange  {background-color:$orange; }
.bg-red     {background-color:$red;    }
.bg-maroon  {background-color:$maroon; }
.bg-fuchsia {background-color:$fuchsia;}
.bg-purple  {background-color:$purple; }
.bg-white   {background-color:$white;  }
.bg-silver  {background-color:$silver; }
.bg-gray    {background-color:$gray;   }
.bg-black   {background-color:$black;  }
.bg-main    {color: $maincolor;}