<!DOCTYPE html>
<html>
<head>
  <title></title>
  <meta charset="utf-8">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/tonsky/FiraCode@4/distr/fira_code.css">
  <link rel="stylesheet" href="https://unpkg.com/tachyons@4.12.0/css/tachyons.min.css"/>
  <script src="https://kit.fontawesome.com/d28d9a84f8.js" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="assets/css/style.css"/>

</head>
<body class="bg-black text-main">
  <div id="app">
    <header class="bg-maroon text-red">{{game.date}}</header>
    <section id="game">
      {% if not pilot %}
        {% include 'base/nopilot.twig' %}
      {% else %}
      <aside id="sidebar" class="b--main">
        <h1 class="section-heading">{{pilot.name}}</h1>
        <span class="subtitle">corporate pilot for <a href="#">{{pilot.company.name}}</a></span>
        <ul class="options">
          <li>
            <strong>Credits</strong> <span class="credits">{{pilot.credits}}</span>
          </li>
          <li>
            <strong>Legal Rating</strong> <span class="legal">{{pilot.legal}}</span>
          </li>
          <li>
            <strong>Government</strong> <span>{{pilot.govt.shortname}}</span>
          </li>
        </ul>
        <h1 class="section-heading">Port Services Interface</h1>
        <h3>Current Status</h3>
        <span style="margin-bottom: 10px;display: block;">{{pilot.location|raw}} in the {{pilot.syst.fullname|raw}}</span>
        <p>{{pilot.spob.desc}}</p>
        <ul class="options">
          <li>
            <strong>Techlevel</strong> <span>{{pilot.spob.techlevel}}</span>
          </li>
          <li>
            <strong>Government</strong> <span>{{pilot.syst.govt.shortname}}</span>
          </li>
        </ul>
        <div class="list-group">
          <a href="#" class="list-group-item btn btn-green block {% if not pilot.vessel %}disabled{% endif %}">Depart</a>
          <a href="#" class="list-group-item btn btn block {% if not pilot.vessel %}disabled{% endif %}">Refuel</a>
          <a href="#" class="list-group-item btn btn block">Shipyard</a>
          <a href="#" class="list-group-item btn btn block {% if not pilot.vessel %}disabled{% endif %}">Outfitter</a>
        </div>
      </aside>
      <main id="main" class="b--main">
      <h1 class="section-heading">Amenities on {{pilot.spob.fullname|raw}}</h1>
        {{dump(pilot)}}
      </main>
      {% endif %}
    </section>
    <footer class="bg-maroon text-red">{{app.name}} {{app.version}}</footer>
  </div>
</body>
</html>