
<main id="main">
  <div class="dialog">
    <div class="dialog-body narrow b--red">
      <h1 class="section-heading label red">Critical Error</h1>
      <p><strong>### Access to this resource is restricted ###</strong></p>
      <p>NERSHA-SCRAM did not detect the proper authentication credentials in your request. Therefore, your access to this system is <strong>denied</strong>.</p>
      <p>Please reset your authentication session and retry your connection. If the error persists, please contact your NERSHA-SCRAM account representative.</p>
      {% if app.debug %}
        {{dump(pilot)}}
        {{dump(flash)}}
      {% endif %}
    </div>
  </div>
</main>