{% extends 'base/index.html' %}
{% block page %}
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title"><i class="fas fa-bug"></i> Debug Output</h5>
    <hr>
    <p class="card-text">
      {{dump()}}
    </p>
  </div>
</div>
{% endblock %}