{% extends 'base/site.html' %}
{% block title %}{{app.name}} {{app.version}}{% endblock %}
{% block page %}
<div class="row d-flex justify-content-center">
  <div class="col-md-4">
    <div class="card">
    <a href="{{url_for('account.login.discord')}}" class="btn btn-lg btn-block" style="color: white; background: #7289DA;"><i class="fab fa-discord"></i> Log in with Discord</a>
  </div>
  </div>
</div>
{% endblock %}