<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Login</h5>
      <div class="card-body">
        <form action="/account/login" method="POST">
          <div class="row mb-3">
            <label for="loginEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="loginEmail" name="loginEmail" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="loginPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="loginPassword" name="loginPassword" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Sign in</button>
        </form>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card">
      <h5 class="card-header">Register</h5>
      <div class="card-body">
        <form action="/account/register" method="POST">
          <div class="row mb-3">
            <label for="registerEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="email" class="form-control" id="registerEmail" name="registerEmail" required>
            </div>
          </div>
          <div class="row mb-3">
            <label for="registerPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="registerPassword" name="registerPassword" required>
            </div>
          </div>
          <button type="submit" class="btn btn-primary">Register</button>
        </form>
      </div>
    </div>
  </div>
</div>