<div class="card col-md-6">
  <div class="card-header">Register a new company</div>
  <div class="card-body">
    <form action="{{url_for('pilots.addCompany')}}" method="POST">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Company</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
      </div>
      <p class="form-text">Any pilots you create will be employees of this company. Company names will be checked for quality control purposes. Company names cannot be changed once they are created.</p>
    <button type="submit" class="btn btn-success btn-block">Create</button>
    </form>
  </div>
</div>