<div class="card col-md-6">
  <div class="card-header">Register a new pilot with <strong>{{user.company.name}}</strong></div>
  <div class="card-body">
    <form action="{{url_for('pilots.addPilot')}}" method="POST">
      <div class="mb-3 row">
        <label for="name" class="col-sm-2 col-form-label">Pilot Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" id="name" name="name" required>
        </div>
      </div>
      <p class="form-text">This pilot will permanently be associated with your company and user account. Pilots names are subject to quality control provisions. </p>
    <button type="submit" class="btn btn-success btn-block">Create</button>
    </form>
  </div>
</div>